@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply h-1 w-1;
}

::-webkit-scrollbar-thumb {
  @apply rounded-full bg-rose-500/70;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-rose-500/70;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
